@tailwind base;
@tailwind components;
@tailwind utilities;

.water-effect {
  filter: url('#turbulence');
  will-change: transform;
  transform: translateZ(0);
}

.water-effect > div {
  will-change: transform;
  backface-visibility: hidden;
}
