@tailwind base;
@tailwind components;
@tailwind utilities;

.water-effect {
  filter: url('#liquid');
  will-change: transform;
  transform: translateZ(0);
}

.water-effect > div {
  will-change: transform;
  backface-visibility: hidden;
  transition: all 0.5s ease-in-out;
}
